@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<section aria-label="Search explore-search">
    <div class="ncs-hero page-hero explore-hero">
        <div class="content govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl explore-heading-xl">
                            <div class="block ncs explore-block-ncs">
                                    <span>View</span>
                                    <span>all</span>
                                    <span>careers</span>
                            </div>
                        </h1>
                    <div class="sub-heading explore-sub-heading">

                        <p class="govuk-body explore-body">
                            <span>View</span>
                            <span>all</span>
                            <span>job</span>
                            <span>profiles</span>
                            <span>in</span>
                            <span>alphabetical</span>
                            <span>order.</span>
                            <span>Use</span>
                            <span>the</span>
                            <span>filter</span>
                            <span>to</span>
                            <span>view</span>
                            <span>careers</span>
                            <span>in</span>
                            <span>different</span>
                            <span>categories.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
