@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<section aria-label="Search">
    <div class="ncs-hero page-hero dfe-ncs-hero-explore-career">
        <div class="content govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="block ncs">
                        <h1 class="govuk-heading-xl block-ncs-app-explorer">
                            <span>View</span>
                            <span>all</span>
                            <span>careers</span>
                        </h1>
                    </div>
                    <div class="sub-heading sub-heading-app-explorer">

                        <p class="govuk-body">
                            <span>View</span>
                            <span>all</span>
                            <span>job</span>
                            <span>profiles</span>
                            <span>in</span>
                            <span>alphabetical</span>
                            <span>order.</span>
                            <span>Use</span>
                            <span>the</span>
                            <span>filter</span>
                            <span>to</span>
                            <span>view</span>
                            <span>careers</span>
                            <span>in</span>
                            <span>different</span>
                            <span>categories.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
