@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<section aria-label="Search explore-search">
   <div class="ncs-hero page-hero explore-hero">
        @*  <!-- Desktop image -->
        <div class="d-only">
            <img src="@Configuration["AssetsCdn"]media/headers/explore-careers-desktop-header.png" alt="a female wind farm engineer at work wearing a high visibility jacket and a blue hard hat. There are wind turbines across the landscape in the background." />
        </div>

        <!-- Mobile image -->
        <div class="m-only">
                <img src="@Configuration["AssetsCdn"]media/headers/explore-careers-mobile-header.png" alt="a female wind farm engineer at work wearing a high visibility jacket and a blue hard hat. There are wind turbines across the landscape in the background." />
        </div> *@

        <div class="content govuk-width-container">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl explore-heading-xl">
                        <div class="block ncs explore-block-ncs">
                            <span>Explore</span>
                            <span>careers</span>
                        </div>
                    </h1>

                   @*  <div class="img-container">
                        <img class="home-product-tile-header-image" alt="" src="https://lab-cdn.nationalcareersservice.org.uk/media/compass.svg">
                    </div> *@

                    <div class="sub-heading explore-sub-heading">
                        <p class="govuk-body explore-body">
                            <span>View</span>
                            <span>all</span>
                            <span>job</span>
                            <span>profiles</span>
                            <span>alphabetically</span>
                            <span>and</span>
                            <span>filter</span>
                            <span>by</span>
                            <span>category.</span>
                        </p>
                    </div>
                </div>
               
                @* <img class="home-product-tile-header-image-ec explore-careers-image compass-image explore-compass-image" alt="" src="https://lab-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/compass.png"> *@
            </div>
        </div>
   </div>

    <form action="/search-results" class="ncs-search ncs-search__bar site-search ui-front" id="header-search" method="get">
        <div class="search-wrapper">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-form-group">
                            <label class="ncs-label govuk-label" for="searchTerm">Enter a job title or keyword to search</label>
                            <div class="input-wrapper">
                                <input id="searchTerm" name="searchTerm" type="search" class="govuk-input search-input js-search-focus focus js-autocomplete ui-autocomplete-input" aria-label="Enter a job title" placeholder="for example, teaching assistant" data-autocomplete-maxlength="7" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" autocomplete="off" />
                                <div class="input-search-item input-submit-wrapper">
                                    <button id="search-button" class="input-search-submit" type="submit" data-module="govuk-button" value="Search">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>