@* @model DFC.App.ExploreCareers.ViewModels.ExploreCareers.BodyViewModel

<div class="govuk-width-container">
    <h2 class="govuk-heading-m">Explore by job category</h2>
    <ul class="govuk-list homepage-jobcategories">
        @if (Model?.JobCategories?.Any() is true)
        {
            foreach (var category in Model.JobCategories)
            {
                <li><a class="govuk-link" href="/job-categories/@category.CanonicalName">@category.Name</a></li>
            }
        }
    </ul>
</div> *@

@* @model DFC.App.ExploreCareers.ViewModels.ExploreCareers.BodyViewModel

<div class="govuk-width-container">
    <h2 class="govuk-heading-m">Explore by job category</h2>
    <ul class="govuk-list homepage-jobcategories">
        @if (Model?.JobCategories?.Any() is true)
        {
            foreach (var category in Model.JobCategories)
            {
                <li><a class="govuk-link" href="/job-categories/@category.CanonicalName">@category.Name</a></li>
            }
        }
    </ul>
</div> *@

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<div class="govuk-width-container">
    <div class="govuk-grid-column-full">
                    
        <div class="govuk-grid-column-two-thirds">
            <div class="dfe-grid-container explore-dfe-grid-container-one">
                <div class="dfe-card">

                    <img class="imag-explore-career" src="@Configuration["AssetsCdn"]/images/explore-career-home.jpg" alt="explore career Image" />

                    <div class="dfe-card-container">
                        <div class="govuk-!-margin-top-5">
                            <p class="govuk-body explore-govuk-body">
                                Choose a way to explore careers for each job profile,
                                you'll find qualifications needed, salary,
                                prgression opportunities and a description of daily tasks involved.
                            </p>
                        </div>
                    </div>


                    <div class="dfe-grid-container explore-dfe-grid-container">

                        <div class="dfe-card explore-dfe-card">
                            <div class="dfe-card-container explore-dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                                </h3>
                                <p>A short description for the card.</p>
                            </div>
                        </div>

                        <div class="dfe-card explore-dfe-card">
                            <div class="dfe-card-container explore-dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                                </h3>
                                <p>A short description for the card.</p>
                            </div>
                        </div>
                    </div>
                                    
                                 
                </div>
            </div>
        </div>


        <div class="govuk-grid-column-one-third">
            <div class="dfe-grid-container explore-dfe-grid-container-two">
                <h3><a class="class=" govuk-header__link" href="https://nationalcareers.service.gov.uk/skills-assessment">Take a skills assessment</a></h3>
                <p class="govuk-body">
                    If you're not sure where to start, answer questions
                    about your interest to find out which sectors may be best for you.
                </p>
            </div>
        </div>
              
    </div>
</div>




