@model DFC.App.ExploreCareers.ViewModels.ExploreCareers.BodyViewModel

<div class="govuk-width-container">
    <h2 class="govuk-heading-m">Explore by job category</h2>
    <ul class="govuk-list homepage-jobcategories">
        @if (Model?.JobCategories?.Any() is true)
        {
            foreach (var category in Model.JobCategories)
            {
                <li><a class="govuk-link" href="/job-categories/@category.CanonicalName">@category.Name</a></li>
            }
        }
    </ul>
</div>

@* @using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="dfc-app-pages-alignment-left">
                <section class="govuk-!-margin-top-5">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="dfe-grid-container">
                                <div class="dfe-card sector-landing-image">
                                    <img src="@Configuration["AssetsCdn"]/images/explore-career-home.jpg" alt="explore career Image" />
                                    
                                    
                                    <div class="dfe-card-container">
                                        <div class="govuk-!-margin-top-5">
                                            <p class="govuk-body">
                                                Choose a way to explore careers for each job profile, 
                                                you'll find qualifications needed, salary, 
                                                prgression opportunities and a description of daily tasks involved.
                                            </p>
                                        </div>
                                    </div>


                                    <div class="govuk-grid-row govuk-grid-row-sector-landing">
                                        <div class="govuk-grid-column-one-third dfe-card-expolore-career-sector-landing govuk-!-margin-top-2">
                                            <div class="dfe-card dfe-card-expolore-career dfe-card-container-sector-landing">
                                                <div class="dfe-card-container">
                                                    <h3 class="dfc-code-search-jpTitle"><a class="dfc-code-search-jpTitle" href="/explore-careers/job-sector"  style="text-decoration: underline;">Explore by sector</a></h3>

                                                    <p class="govuk-body">
                                                        Find out what each sector involves and discover the types of jobs you'll find in each sector.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="govuk-grid-column-one-third dfe-card-expolore-career-sector-landing govuk-!-margin-top-2">
                                            <div class="dfe-card dfe-card-expolore-career dfe-card-container-sector-landing">
                                                <div class="dfe-card-container">
                                                    <h3 class="dfc-code-search-jpTitle"><a class="dfc-code-search-jpTitle" href="/explore-careers/all-careers" style="text-decoration: underline;">Filter by category</a></h3>

                                                    <p class="govuk-body">
                                                       Filter all job profiles by category. Apply filters to view all careers in those categories.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            <h3><a class="class=" govuk-header__link" href="https://nationalcareers.service.gov.uk/skills-assessment">Take a skills assessment</a></h3>
                            <p class="govuk-body">
                                If you're not sure where to start, answer questions about your interest to find out which sectors may be best for you.
                            </p>
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                    </div>
                </section>
            </div>
        </div>
    </div>
</div> *@


