
@model DFC.App.ExploreCareers.ViewModels.ExploreCareers.BodyViewModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="govuk-width-container">

    <div class="govuk-grid-row explore-career-home-govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
           
            <div>
                <img class="imag-explore-career" src="@Configuration["AssetsCdn"]nationalcareers_toolkit/images/explore-career-home.jpg" alt="Two people looking at a single laptop together with interest." />
            </div>

            <div class="govuk-!-margin-top-5">
                <p class="govuk-body explore-govuk-body">
                    Choose a way to explore careers for each job profile,
                    you'll find qualifications needed, salary,
                    progression opportunities and a description of daily tasks involved.
                </p>
            </div>

            <div class="dfe-grid-container explore-career-home-dfe-grid-container">
                <div class="dfe-card explore-career-home-dfe-card">
                    <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                            <a href="explore-careers/job-sector" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Explore by sector</a>
                        </h2>
                        <p>Find out what each sector involves and discover the types of jobs you'll find in each sector.</p>
                    </div>
                </div>
                <div class="dfe-card explore-career-home-dfe-card">
                    <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                            <a href="explore-careers/all-careers" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Filter by category</a>
                        </h2>
                        <p class="govuk-body">Filter all job profiles by category. Apply filters to view all careers in those categories.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="govuk-grid-column-one-third">
            <h3><a class="class="govuk-header__link" href="skills-assessment">Take a skills assessment</a></h3>
            <p class="govuk-body">
                If you're not sure where to start, answer questions about your interests to find out which sectors may be best for you.
            </p>
        </div>

    </div>

    @if (Model?.SharedContents != null && Model.SharedContents.Count > 0 && Model.SharedContents[0]?.Content?.Html != null)
    {
        <div class="govuk-grid-row">
            @Html.Raw(Model.SharedContents[0].Content.Html)
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <p>No content available</p>
        </div>
    }

</div>






