<!DOCTYPE html>
<html lang="en-gb" class="govuk-template">
<head>
    <title>@ViewData["Title"]</title>

    <partial name="_LocalCss" />
</head>
<body class="govuk-template__body ">
    <partial name="_GovUkHeader" />

    <main class="govuk-!-padding-top-0 govuk-!-padding-bottom-0" id="main-content" role="main">

        <partial name="_ErrorSummary" />

        @RenderBody()

    </main>

    <partial name="_GovUkFooter" />

    <partial name="_LocalJs" />
</body>
</html>