<div class="govuk-width-container">
    <div class="govuk-grid-row" id="speaktoanadvisor">
        <div class="govuk-grid-column-full">
            <!-- Double space (2em) above the content -->
            <h2 class="govuk-heading-m" id="speaktoanadvisorheader">Speak to an adviser</h2>
            <p>
                <!-- Single space (1em) below the paragraph -->
                Whenever you are with your decisions, you can call us on <span id="phonenumberspan">0800 100 900</span>  during our
                <span><a href="#">opening times</a></span>.
            </p>
            <p>
                You can also use webchat to talk online.
            </p>
        </div>
    </div>
</div>

