<div class="govuk-width-container">
    <div class="govuk-grid-row" id="speaktoanadvisor">
        <div class="govuk-grid-column-full">
            <!-- Double space (2em) above the content -->
            <h2 class="govuk-heading-m" id="speaktoanadvisorheader">Speak to an adviser</h2>
           @*  <img class="speak-to-adviser__image" src="https://lab-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/Speaktoanadviser.png" alt=""> *@

            <p>
                <!-- Single space (1em) below the paragraph -->
                Whenever you are with your decisions, you can <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link">contact us</a> to get advice from a careers adviser. Call <span id="phonenumberspan">0800 100 900</span>  or
                <a href="https://nationalcareers.service.gov.uk/webchat/chat" class="govuk-link">use webchat</a> to talk online.
            </p>
        </div>
    </div>
</div>

@* 
<div class="govuk-width-container">
    <div class="dfc-app-pages-alignment-justify">
        <div class="speak-to-adviser speak-to-adviser-home speak-to-adviser-container-main">
            <div class="speak-to-adviser__header speak-to-adviser__header-home speak-to-adviser__header__max-width">
                <div class="speak-to-adviser__header-text speak-to-adviser__header-text-home adviser__header__width-text">
                    Speak to an adviser
                        <img class="speak-to-adviser__image" src="https://lab-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/Speaktoanadviser.png" alt="">
                </div>
            </div>
            <div class="speak-to-adviser__body">
                Wherever you are with your decisions, you can <a href="https://nationalcareers.service.gov.uk/contact-us">contact us</a> to get advice from a careers adviser.
            </div>
            <div class="speak-to-adviser__body">
                Call <a class="speak-to-adviser__phoneno" href="tel:0800100900">0800 100 900 </a> or <a href="https://nationalcareers.service.gov.uk/webchat/chat">use webchat</a> to talk online.
            </div>
        </div>
    </div>
</div> *@


@* 
<div class="govuk-grid-column-one-third">
    <div class="dfc-app-pages-alignment-justify">
        <div class="speak-to-adviser speak-to-adviser-home speak-to-adviser-container-main">
            <div class="speak-to-adviser__header speak-to-adviser__header-home">
                <div class="speak-to-adviser__header-text speak-to-adviser__header-text-home">
                    Speak to an adviser
                </div>
                <img class="speak-to-adviser__image" src="https://lab-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/Speaktoanadviser.png" alt="">
            </div>
            <div class="speak-to-adviser__body">
                Wherever you are with your decisions, you can <a href="https://nationalcareers.service.gov.uk/contact-us">contact us</a> to get advice from a careers adviser.
            </div>
            <div class="speak-to-adviser__body">
                Call <a class="speak-to-adviser__phoneno" href="tel:0800100900">0800 100 900 </a> or <a href="https://nationalcareers.service.gov.uk/webchat/chat">use webchat</a> to talk online.
            </div>
        </div>
    </div>
</div> *@