@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model string;

<section aria-label="Search">
    <div class="ncs-hero page-hero dfe-ncs-hero-explore-career">
        <div class="content govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="block ncs">
                        <h1 class="govuk-heading-xl block-ncs-app-explorer">
                            <span>All careers in the @Model sector</span>
                        </h1>

                        <div class="sub-heading sub-heading-app-explorer">

                            <p class="govuk-body">
                                <span>Select</span>
                                <span>a</span>
                                <span>job</span>
                                <span>profile</span>
                                <span>to</span>
                                <span>find</span>
                                <span>out</span>
                                <span>more</span>
                                <span>about</span>
                                <span>that</span>
                                <span>job.</span>
                            </p>
                        </div>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>

@*     <form action="/search-results" class="ncs-search ncs-search__bar site-search ui-front" id="header-search" method="get">
        <div class="search-wrapper">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> *@
</section>