@model DFC.App.ExploreCareers.ViewModels.JobProfile.BodyViewModel

<div class='govuk-width-container'>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <h2 class="govuk-heading-m">
                Showing 1 to 20 of 69 job profiles
            </h2>
             <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <div class="govuk-grid-row">
            <h2 class="govuk-heading-m">
                <a href='/sector-landing-page/{titleUrl}' class='govuk-link govuk-link--no-visited-state dfe-card-link--header'>Agricultural contractor</a>
            </h2>
            <span class="govuk-caption-m">Agricultural contractor</span>
            <p class="govuk-body-m">Salary: Variable</p>
        </div>
    </div>

</div>
