@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model DFC.App.ExploreCareers.ViewModels.SectorLandingPage.BodyViewModel


<section aria-label="Search">
  @*   <div class="ncs-hero page-hero">

        @if (Model?.SectorLandingPage != null && Model.SectorLandingPage.Any() && Model.SectorLandingPage[0]?.HeroBanner?.Html != null)
        {
          
             @Html.Raw(Model.SectorLandingPage[0].HeroBanner.Html)
          
        }
        else
        {
            <div>
                <p>No content available.</p>
            </div>
        }

    </div> *@

    @* @Html.Raw(Model?.SectorLandingPage?[0]?.HeroBanner?.Html ?? "") *@


    <section aria-label="Search">
        <div class="ncs-hero page-hero">
            <div class="content govuk-width-container">
                @Html.Raw(Model?.SectorLandingPage?[0]?.HeroBanner?.Html ?? "")
               @*  <div class="govuk-grid-row">
                    <div class="block ncs">
                        @Html.Raw(Model?.SectorLandingPage?[0]?.HeroBanner?.Html ?? "")
                    </div>
                </div> *@
            </div>
        </div>
    </section>

</section>