<div class='govuk-width-container'>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-l">About this sector</h1>
            Includijng many outdoor roles, the agriculture, environmental and animal care sector is broad, with opportunities from entry-level up to managment.</p>
        </div>
        <div class="govuk-grid-column-one-half">
            <p>Place holder for the video</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <p class="govuk-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
    </div>


    <div class="dfe-grid-container dfe-grid-container-expolore-career">
        <div class="dfe-card dfe-card-expolore-career">
            <div class="dfe-card-container">
                <h2 class="govuk-heading-m">Job One</h2>
                <p>A short description for the card.</p>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                </h3>
            </div>
        </div>
        <div class="dfe-card dfe-card-expolore-career">
            <div class="dfe-card-container">
                <h2 class="govuk-heading-m">Job Two</h2>
                <p>A short description for the card.</p>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                </h3>
            </div>
        </div>
        <div class="dfe-card dfe-card-expolore-career">
            <div class="dfe-card-container">
                <h2 class="govuk-heading-m">Job Three</h2>
                <p>A short description for the card.</p>
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                </h3>
            </div>
        </div>

    </div>

    <p class="govuk-body-m"></p>
    <p class="govuk-body-m">
        <a class="govuk-link govuk-button ncs-button__primary govuk-!-margin-bottom-1" href="https://lab.nationalcareersservice.org.uk/discover-your-skills-and-careers">
            Go to discover your skills and careers
        </a>
    </p>

    <div class="govuk-grid-row">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-l">Real career stories</h1>
            <img src="/assets/images/assessment-blog.png" alt="Sample Image">
        </div>
        <div class="govuk-grid-column-one-half">
            <p class="govuk-body">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>

    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            if you're not sure that this the right sector for you, you can <span><a href="#">explore all sectors</a></span> and discover what each sector has to offer.
        </p>
    </div>

</div>
