@model DFC.App.ExploreCareers.ViewModels.JobProfileSector.BodyViewModel

<div class='govuk-width-container'>
    <div class='dfe-grid-container dfe-grid-container-expolore-career'>

        @if (Model.JobProfileSectors.Any())
        {
            <div class="dfe-card-container-grid">
                @foreach (var jobProfile in Model.JobProfileSectors)
                {
                    var urlName = string.Empty;

                    if (jobProfile.SectorLandingPage?.ContentItems != null)
                    {
                        urlName = jobProfile.SectorLandingPage.ContentItems
                        .Select(x => x.PageLocation?.UrlName)
                        .FirstOrDefault() ?? string.Empty;
                    }

                    <div class="dfe-card dfe-card-expolore-career">
                        @if (jobProfile.Image?.Urls != null && jobProfile.Image.Urls.Any())
                        {
                            <img class="explore-sector-img" src="@jobProfile.Image.Urls[0]" alt="job-sector-image">
                        }

                        <div class="dfe-card-container">
                            <h2 class="govuk-heading-m">
                                <a href="job-sector/@urlName" class="govuk-link--no-visited-state dfe-card-link--header">@jobProfile.DisplayText</a>
                            </h2>
                            <p class="dfe-card-description dfe-card-description-explore-career">@jobProfile.Description</p>
                        </div>
                    </div>
                }
            </div>


        }
        else
        {
            <p>No job profile sectors available.</p>
        }

    </div>


    @if (Model?.SharedContents != null && Model.SharedContents.Count > 0 && Model.SharedContents[0]?.Content?.Html != null)
    {
        <div class="govuk-grid-row">
            @Html.Raw(Model.SharedContents[0].Content.Html)
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <p>No content available</p>
        </div>
    }
</div>
