.dfe-grid-container-expolore-career {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* Space between items */
}

.dfe-card-expolore-career {
    flex: 1 1 calc(33.333% - 15px);
    /* Three items per row with space */
    box-sizing: border-box;
    background: #F3F2F1;
    /* Gray background color */
    color: #ffffff;
    /* Optional: Set text color to white for better contrast */
    border-bottom: 4px solid #b1b4b6;
    h2
    {
        font-family: 'Transport', arial, sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 25px;
        color: #1d70b8;
        /* Header color */
        margin: 30px 0 15px 20px;
        /* top right bottom left */
    }

.dfe-card-description-expolore-career {
    font-family: 'Transport', arial, sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #000;
    line-height: 25px;
    /* Set color if needed */
    margin: 0 0 20px 20px;
}

a {
    text-decoration: none;
    /* Remove underline from card titles */
    color: #1D70B8;
    /* Link color */
    font-weight: bold;
    /* Make link text bold */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

}

.dfe-card-placeholder {
    background: none;
    /* Gray background color for placeholder */
    border: none;
    /* No border */
    padding: 15px;
    /* Padding to match other cards */
    height: 150px;
    /* Example height, adjust as needed */
}

#speaktoanadvisor {
    background-color: #5694ca25 !important;
    margin: 5em 0 !important;
    /* Adjust margin values for top/bottom and remove left/right margin */

    p

{
    font-family: 'Transport', arial, sans-serif;
    font-weight: 300;
    font-size: 19px;
}

}

#speaktoanadvisorheader {
    margin-top: 2em;
    color: #1D70B8;
}

#phonenumberspan {
    color: #1D70B8;
    font-weight: bold;
    text-decoration: underline;
}

.ncs-search-form__container {
    border-bottom: 10px solid #5694ca;
}

/*.ncs-hero .content .block.ncs span {
    font-family: "GDS Transport", arial, sans-serif;
    color: #0b0c0c !important;
    font-size: 48px;
}*/

.block-ncs-app-explorer span {
    font-family: "GDS Transport", arial, sans-serif;
    color: #0b0c0c !important;
    font-size: 48px;
}


/*.ncs-hero .content .sub-heading .block span {
    padding: 2px 0;
    font-size: 24px;
}*/

.sub-heading-app-explorer span {
    padding: 2px 0;
    font-size: 24px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .dfe-card-expolore-career {
        flex: 1 1 100%;
        /* Full width on small screens */
    }
}
